@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-Color: #5754F6;
    --secondary-Color: #EBA332;
    --text-Color: #0B0B0B;
    --alert-Color: #0099ff;
    --success-Color: #26C976;
    --warning-Color: #FAAF3A;
    --error-Color: #F94C10;
    --grey-Color: #ACADAE;
    --black-Color: #272D4E;
    --main-Background-Color: #FFFFFF;
    --secondary-Background-Color: #ebecf5;
    --secondary-Font: "Montserrat", sans-serif;
    --button-padding: 9px 32px;
    --button-border-radius: 6px;
    --button-font-weight: 500;
    --heading:50px;
    --heading-large: 35px;
    --heading-medium: 25px;
    --paragraph: 18px;
    --logo-border-radius: 15px;
    --jumbotron-padding: 50px 22px;
    --section-padding:30px 0px;
}
.fdb-block {
    padding: 0rem 0;
}
/* headerhdm8ad340b3 */
.headerhdm8ad340b3{
background-color: var(--primary-Color);
}
.headerhdm8ad340b3 .bg-white {
    background-color: var(--primary-Color) !important;
}
.headerhdm8ad340b3 .navbar-light .navbar-nav .nav-link,
.headerhdm8ad340b3 .navbar-light .navbar-nav .nav-link:hover {
    color: var(--main-Background-Color);
}
.headerhdm8ad340b3 .btn-primary,
.headerhdm8ad340b3 .btn-primary:not(:disabled):not(.disabled):active{
    font-weight: var(--button-font-weight);
    background-color: var(--warning-Color);
    border: none;
    padding: var(--button-padding);
    color: var(--black-Color);
}
/* aboutcded716dce36a6e8 */
.aboutcded716dce36a6e8{
    background-color: var(--primary-Color);
    overflow: hidden;
}
.aboutcded716dce36a6e8 .bg-white {
    background-color: var(--primary-Color) !important;
}
.aboutcded716dce36a6e8 .badge {
    display: none;
}
.aboutcded716dce36a6e8 .DescriptionHeading {
    color: var(--secondary-Background-Color);
    font-size: var(--heading);
}
.aboutcded716dce36a6e8 .DescriptionPara {
    color: var(--grey-Color);
}
.aboutcded716dce36a6e8 .searchBtn {
    background-color: var(--warning-Color);
    border-radius: 0px;
    color: var(--black-Color);
}
.aboutcded716dce36a6e8 .jumbotron {
    padding: var(--section-padding);
}
/* campbelldy9djhgjfg */
.campbelldy9djhgjfg h1 {
    font-size: var(--heading-large);
}
/* candella3wq12a3 */
.candella3wq12a3 .fdb-block {
    padding: 0px 0;
}
.candella3wq12a3 .lead{
 font-size: var(--paragraph);
}
/* felicityfr3poxt3ngm */
.felicityfr3poxt3ngm{
    padding: var(--section-padding);
}
.felicityfr3poxt3ngm strong {
    font-weight: var(--button-font-weight) !important;
}
.felicityfr3poxt3ngm h3 {
    font-size: var(--paragraph);
    margin-top: 15px;
}
.felicityfr3poxt3ngm .btn-primary,
.felicityfr3poxt3ngm .btn-primary:hover,
.felicityfr3poxt3ngm .btn-primary:not(:disabled):not(.disabled):active{
    font-weight: var(--button-font-weight);
    background-color: var(--warning-Color);
    border: none;
    padding: var(--button-padding);
    color: var(--black-Color);
}
/* productsfd232222df02a491 */
.productsfd232222df02a491{
    padding: var(--section-padding);
}
.productsfd232222df02a491 .title {
    color: var(--primary-Color);
    font-size: var(--heading-medium);
}
.productsfd232222df02a491 .blob-btn:before{
    border: 2px solid var(--primary-Color);
}
.productsfd232222df02a491 .blob-btn__blob{
    background: var(--primary-Color);
}
.productsfd232222df02a491 svg{
    display: none;
}
/* calltoactioncapzr97jkms */
.calltoactioncapzr97jkms{
    padding: var(--section-padding);
}
.calltoactioncapzr97jkms .fdb-block {
   padding: 0rem 0;
}
.calltoactioncapzr97jkms h1 {
    font-size: var(--heading-large);
}
.calltoactioncapzr97jkms .lead{
    font-size: var(--paragraph);
   }
.calltoactioncapzr97jkms .btn-secondary,
.calltoactioncapzr97jkms .btn-secondary:not(:disabled):not(.disabled):active{
    font-weight: var(--button-font-weight);
    background-color: var(--warning-Color);
    border: none;
    padding: var(--button-padding);
    color: var(--black-Color);
}
/* abouteb092de7c8df0610 */
.abouteb092de7c8df0610{
    padding: var(--section-padding);
}
.abouteb092de7c8df0610 #AbOuTuS {
    font-weight: var(--button-font-weight) !important;
    padding: 0rem;
}
.abouteb092de7c8df0610 h2 {
    font-size: var(--heading-large);
}
/* testimonialprqwl7a4x8r */
.testimonialprqwl7a4x8r{
    padding: var(--section-padding);
}
.testimonialprqwl7a4x8r h1 {
    font-size: var(--heading-large);
}
.testimonialprqwl7a4x8r .mt-5{
    margin-top: 1rem !important;
}
.testimonialprqwl7a4x8r .h4{
    font-size: var(--paragraph);
}
@media (min-width: 1200px){
    .testimonialprqwl7a4x8r .mt-xl-5 {
    margin-top: 2rem !important;
}
}
/* formft6hkmrpjx9 */
.formft6hkmrpjx9{
    padding: var(--section-padding);
}
.formft6hkmrpjx9 h1 {
    font-size: var(--heading-large);
}
.formft6hkmrpjx9 .lead{
    font-size: var(--paragraph);
   }
.formft6hkmrpjx9 .btn-primary,
.formft6hkmrpjx9 .btn-primary:hover,
.formft6hkmrpjx9 .btn-primary:not(:disabled):not(.disabled):active{
    font-weight: var(--button-font-weight);
    background-color: var(--warning-Color);
    border: none;
    color: var(--black-Color);
}
/* footerb6c9fcc0294384085 */
.footerb6c9fcc0294384085 footer {
    background: var(--black-Color);
}
.footerb6c9fcc0294384085 .h3{
    color: var(--main-Background-Color);
    font-size: var(--heading-medium);
}
.footerb6c9fcc0294384085 h5 {
    font-size: var(--heading-medium);
}
.footerb6c9fcc0294384085  .fa{
    color: var(--main-Background-Color);
}