@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.fdb-block {
    padding: 30px 0;
}

* {
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-Color: #5754F6;
    --secondary-Color: #EBA332;
    --text-Color: #0B0B0B;
    --alert-Color: #0099ff;
    --success-Color: #26C976;
    --warning-Color: #FAAF3A;
    --error-Color: #F94C10;
    --grey-Color: #ACADAE;
    --black-Color: #272D4E;
    --main-Background-Color: #FFFFFF;
    --secondary-Background-Color: ;
    --secondary-Font: "Montserrat", sans-serif;
    --button-padding: 9px 32px;
    --button-border-radius: 6px;
    --button-font-weight: 500;
    --heading: 35px;
    --heading-two: 25px;
}
/* headerhdm8ad340b3 */
.headerhdm8ad340b3{
background-color: var(--primary-Color);
}
.headerhdm8ad340b3 .bg-white {
    background-color: var(--primary-Color) !important;
}
.headerhdm8ad340b3 .navbar-light .navbar-nav .nav-link,
.headerhdm8ad340b3 .navbar-light .navbar-nav .nav-link:hover {
    color: var(--main-Background-Color);
}
.headerhdm8ad340b3 .btn-primary,
.headerhdm8ad340b3 .btn-primary:not(:disabled):not(.disabled):active{
    font-weight: var(--button-font-weight);
    background-color: var(--warning-Color);
    border: none;
    padding: var(--button-padding);
    color: var(--black-Color);
}
/* aboutcded716dce36a6e8 */
.aboutcded716dce36a6e8{
    background-color: var(--primary-Color);
}
.aboutcded716dce36a6e8 .bg-white {
    background-color: var(--primary-Color) !important;
}
.aboutcded716dce36a6e8 .badge {
    display: none;
}
.aboutcded716dce36a6e8 .DescriptionHeading {
    color: var(--black-Color);
}
.aboutcded716dce36a6e8 .DescriptionPara {
    color: var(--grey-Color);
}
.aboutcded716dce36a6e8 .searchBtn {
    background-color: var(--warning-Color);
    border-radius: 0px;
    color: var(--black-Color);
}







